<template>
  <div id="localization">
    <div v-show="showMap">
      <GmapMap :center="center"
               :zoom="7"
               map-type-id="roadmap"
               style="width: 280px; height: 280px">
        <GmapMarker :position="google && new google.maps.LatLng($store.getters.coords.lat, $store.getters.coords.lon)"
                    @position_changed="updateMakerPosition"
                    :draggable="true"/>
      </GmapMap>
    </div>
  </div>
</template>

<script>
import config from './../config'
import {gmapApi, loaded} from 'vue2-google-maps'

export default {
  name: 'localization',
  computed: {
    google: gmapApi
  },
  data () {
    return {
      showMap: false,
      center: {
        lat: 0,
        lng: 0
      }
    }
  },
  created () {
    this.setCurrentPositionFromGeolocationApi((position) => {
      this.setCoords(position.coords.latitude, position.coords.longitude, true)

      this.showLocationConfirmation()
    }, () => {
      this.$store.dispatch('GET_LOCATION_FROM_IP').then((data) => {
        this.setCoords(data.latitude, data.longitude, true)

        this.showLocationConfirmation()
      })
    })
  },
  methods: {
    setCoords (lat, lon, updateCenter = false) {
      this.$store.dispatch('SET_COORDS', { lat, lon })

      if (!updateCenter) return

      this.center.lat = lat
      this.center.lng = lon
    },

    isGeolocationApiSupported () {
      return 'geolocation' in navigator
    },

    roundCoord (coord) {
      return Number((coord).toFixed(4))
    },

    setCurrentPositionFromGeolocationApi (success, error) {
      if (!this.isGeolocationApiSupported()) {
        return false
      }

      return navigator.geolocation.getCurrentPosition(success, error)
    },

    updateMakerPosition (coords) {
      const lat = this.roundCoord(coords.lat())
      const lon = this.roundCoord(coords.lng())

      if (this.$store.getters.coords.lat === lat && this.$store.getters.coords.lon === lon) return

      this.setCoords(lat, lon)
    },

    showLocationConfirmation () {
      this.showMap = true

      this.$emit('done')
    }
  }
}
</script>
