<template>
  <div id="slider">
    <svg width="250"
         height="250"
         ref="svg"></svg>
  </div>
</template>

<script>
import * as d3 from 'd3'

export default {
  name: 'slider',
  props: {
    parentTime: Number,
    parentMinTime: Number
  },
  watch: {
    parentTime (value) {
      this.setAngleStep(this.percentageToStep(value || 0))
    }
  },
  mounted () {
    this.w = 250
    this.h = 250
    this.maxStep = 18 * 60
    this.fullAngle = Math.PI * 1.5
    this.anglePerStep = this.fullAngle / this.maxStep
    this.anglePoint = 0
    this.arcStartAngle = 0
    this.circleRadius = 10
    this.arcInnerRadius = this.w / 2 - 20
    this.arcOuterRadius = this.w / 2 - 10
    this.currentStep = this.percentageToStep(this.parentTime || 0)

    this.startColor = '#7e6000'
    this.endColor = '#fedd00'

    const svg = d3.select(this.$refs.svg)
      .attr('width', this.w)
      .attr('height', this.h)
      .attr('id', 'Slider')

    const group = svg.append('svg:g')
      .attr(
        'transform',
        'translate(' + this.w / 2 + ',' + this.h / 2 + ') rotate(225 0 0)'
      )

    const gradient = svg.append('defs')
      .append('linearGradient')
      .attr('id', 'gradient')
      .attr('x1', '0%')
      .attr('y1', '0%')
      .attr('x2', '100%')
      .attr('y2', '100%')
      .attr('spreadMethod', 'pad')

    gradient.append('stop')
      .attr('offset', '0%')
      .attr('stop-color', this.startColor)
      .attr('stop-opacity', 1)

    gradient.append('stop')
      .attr('offset', '100%')
      .attr('stop-color', this.endColor)
      .attr('stop-opacity', 1)

    this.arc = d3.arc()
      .innerRadius(this.arcInnerRadius)
      .outerRadius(this.arcOuterRadius)
      .cornerRadius(20)
      .startAngle(this.arcStartAngle)

    this.bgArc = d3.arc()
      .innerRadius(this.arcInnerRadius)
      .outerRadius(this.arcOuterRadius)
      .startAngle(this.arcStartAngle)
      .cornerRadius(20)
      .endAngle(this.fullAngle)

    group.append('path')
      .style('fill', '#727377')
      .attr('d', this.bgArc)

    this.arcPath = group.append('path')
      .datum({
        endAngle: this.arcStartAngle
      })
      .style('fill', 'url(#gradient)')
      .attr('d', this.arc)

    this.circle = group.append('circle')
      .attr('r', this.circleRadius)
      .attr('fill', '#ffffff')
      .attr('stroke', this.endColor)
      .attr('stroke-width', this.circleRadius / 2 + 2)
      .attr('cx', 0)
      .attr('cy', 5 + this.circleRadius - this.h / 2)
      .attr('cursor', 'move')
      .call(d3.drag().on('drag', () => {
        this.setAngleStep(this.angleToStep(
          this.findAngle(d3.event.x, d3.event.y)
        ))

        this.$emit('update', this.stepToPercentage(this.angleToStep(
          this.findAngle(d3.event.x, d3.event.y)
        )))
      }))

    this.setAngleStep(this.currentStep)
  },
  methods: {
    setAngleStep (step) {
      if (step > this.maxStep || step < 0 || step < this.parentMinTime * 10) {
        return
      }

      this.arcPath.transition()
        .duration(100)
        .ease(d3.easeLinear)
        .call(
          this.arcTween,
          this.anglePerStep * step,
          this.arc
        )
    },

    arcTween (transition, newAngle, arc) {
      transition.attrTween('d', (d) => {
        var interpolate = d3.interpolate(d.endAngle, newAngle)
        return (t) => {
          d.endAngle = interpolate(t)

          this.anglePoint = Math.ceil(d.endAngle / this.anglePerStep) / 4
          this.moveCircle(this.anglePoint)

          return arc(d)
        }
      })
    },

    angleToStep (angle) {
      return angle * 4
    },

    percentageToStep (percentage) {
      return percentage * this.maxStep / 100
    },

    stepToPercentage (step) {
      if (step > this.maxStep && this.anglePoint < 5) {
        return 0
      }

      if (step > this.maxStep) {
        step = this.maxStep
      }

      return Math.floor(step * 100 / this.maxStep)
    },

    findAngle (x, y) {
      return (Math.atan(y / x) * 180 / Math.PI) + (x < 0 ? 270 : 90)
    },

    moveCircle (angle) {
      var r = this.h / 2 - 15
      var x = r * Math.sin(angle * Math.PI / 180)
      var y = -r * Math.cos(angle * Math.PI / 180)

      this.circle.attr('cx', x).attr('cy', y)
    }
  }
}
</script>

<style>
#slider {
  text-align: center;
}
</style>
