<template>
  <div id="weather">
    <div class="day">
      <slider :parent-min-time="minTime"
              :parent-time="timeSelector * 14.2857142857"
              @update="timeUpdated"></slider>

      <div v-if="selectedDay"
           class="day-info">
        <i :class="['owf', 'owf-' + selectedDay.weather[0].id + (timeSelector === 0 || timeSelector === 7 ? '-n' : '-d'), 'owf-5x']"></i>

        <div class="day-info__temp">
          <span>{{parseInt(selectedDay.main.temp, 10)}}</span>°C
        </div>
        <div class="day-info__time">{{getTime()}}</div>
      </div>
    </div>

    <el-select v-model="daySelector"
               placeholder="Select"
               @change="dayUpdated">
      <el-option v-for="item in $store.getters.daysLabels"
                 :key="item"
                 :label="item"
                 :value="item">
      </el-option>
    </el-select>
  </div>
</template>

<script>
import config from './../config'
import slider from './slider'

export default {
  name: 'weather',
  components: {
    slider
  },
  created () {
    this.$store.dispatch('SET_FORECAST').then(() => {
      this.daySelector = this.$store.getters.daysLabels[0]
      this.timeSelector = config.TIME_LABELS.indexOf(this.$store.getters.firstTimeOfDay)
      this.firstDayMax = this.timeSelector
      this.selectedDay = this.$store.getters.getDayByDtTxt(this.getDtTxt())
      this.minTime = this.daySelector === this.$store.getters.daysLabels[0] ? this.firstDayMax * 14.2857142857 : 100

      this.$emit('done')
    })
  },
  watch: {
    timeSelector (val) {
      const day = this.$store.getters.getDayByDtTxt(this.getDtTxt())

      if (typeof day === 'undefined') {
        return
      }

      this.selectedDay = this.$store.getters.getDayByDtTxt(this.getDtTxt())
    }
  },
  data () {
    return {
      daySelector: null,
      timeSelector: 0,
      minTime: 0,
      timeLabels: config.TIME_LABELS,
      selectedDay: null
    }
  },
  methods: {
    getTime () {
      return this.timeLabels[this.timeSelector]
    },

    dayUpdated () {
      if (this.daySelector === this.$store.getters.daysLabels[0]) {
        this.minTime = this.firstDayMax * 14.2857142857
        this.timeSelector = this.firstDayMax
      } else {
        this.minTime = 0
        this.timeSelector = 0
      }

      this.selectedDay = this.$store.getters.getDayByDtTxt(this.getDtTxt())
    },

    getDtTxt () {
      return this.daySelector + ' ' + config.TIME_LABELS[this.timeSelector] + ':00'
    },

    timeUpdated (value) {
      this.timeSelector = Math.round(value / 14.2857142857)
    }
  }
}
</script>

<style>
.day-info {
  position: absolute;
  z-index: 100;
  top: 55px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  margin-left: calc(50% - 50px);
}

.day {
  position: relative;
}

.day-info__temp span {
  font-size: 30px;
}
</style>
