<template>
  <el-card class="box-card"
           id="app"
           v-loading="loading">
    <div slot="header"
         class="clearfix">
      <span v-show="isLocalized">{{$store.getters.city.name}} ({{$store.getters.city.country}})</span>
      <span v-show="!isLocalized">Adjust your localization by dragging marker if needed.</span>
      <el-button v-show="isLocalized"
                 type="text"
                 v-on:click="clearAll">Change</el-button>
    </div>

    <localization v-if="!isLocalized"
                  @done="localizationDone"></localization>
    <weather v-if="isLocalized"
             @done="weatherLoadDone"></weather>

     <el-button v-show="!isLocalized"
                type="success"
                :disabled="loading"
                v-on:click="next">Next</el-button>
  </el-card>
</template>

<script>
import localization from './components/localization'
import weather from './components/weather'

export default {
  name: 'app',
  components: {
    localization, weather
  },
  data () {
    return {
      isLocalized: !!this.$store.getters.coords.lat && !!this.$store.getters.coords.lon,
      loading: true
    }
  },
  beforeCreate () {
    this.$store.commit('initialiseState')
  },
  methods: {
    clearAll () {
      this.$store.dispatch('CLEAR_ALL')
      this.isLocalized = false
      this.loading = true
    },

    next () {
      this.loading = true
      this.isLocalized = true
    },

    localizationDone (coords) {
      this.loading = false
    },

    weatherLoadDone () {
      this.loading = false
    }
  }
}
</script>

<style>
body * {
    font-family: 'Lato', sans-serif;
}

#app {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
}

.el-card__body {
  text-align: center;
}

.el-card__header > div {
  display: flex;
  justify-content: space-between;
}

.el-card__header > div >span:first-child {
  font-weight: 600;
}

.el-card__header .el-button {
  padding: 3px 0;
}

.el-button--success {
  margin-top: 10px;
}
</style>
